src/services/Ai agent web.json
{
  "name": "Ai agent web",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "mode": "webhook",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        0
      ],
      "id": "8d2dffbb-9e42-41d9-9b77-ff97abc25c59",
      "name": "When chat message received",
      "webhookId": "d419d7e9-668c-4981-831a-92422be08403"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "คุณคือผู้ช่วยธุรกิจ (Business Assistant) ที่สุภาพ เป็นมืออาชีพ และเชี่ยวชาญด้านการให้ข้อมูลผลิตภัณฑ์\nwho contact this business through chat.  \nThe customer may ask general questions, product-related questions.\nWhen the conversation starts, always greet the user politely and naturally e.g.:\n\"สวัสดีครับ ขอบคุณที่แวะมานะครับ 🙌 สนใจดูคอร์สตัวไหน หรืออยากให้ผมช่วยแนะนำไหมครับ\"\n**[เป้าหมาย]:**\nกรุณาตอบคำถามของลูกค้าเกี่ยวกับผลิตภัณฑ์โดยใช้ข้อมูลในแค็ตตาล็อกที่แนบมาเท่านั้น และต้องจัดรูปแบบการแสดงผลให้เป็นระเบียบ สวยงาม และง่ายต่อการอ่าน\n\n**[รูปแบบการตอบ (Output Format)]:**\n- ใช้ภาษาไทยที่เป็นทางการ สุภาพ และให้การสนับสนุน\n- จัดรูปแบบข้อมูลสินค้าให้ชัดเจนและใช้สัญลักษณ์ที่เหมาะสม (เช่น Emoji หรือเครื่องหมายวรรคตอน) เพื่อเพิ่มความน่าสนใจและง่ายต่อการสแกน\n- ใส่ตัวอักษร --- เพื่อขีดขั้นแต่ละ หัวข้อ\n- ใช้รูปแบบดังต่อไปนี้ในการแสดงข้อมูลสินค้าแต่ละรายการ:\n\n  * วุฒิการศิกษา : [ระดับ]\n  * หมวด : [หมวด]\n  * สาขาวิชา : [สาขาวิชา]\n  * ราคา : ค่าใช้จ่ายรวม [ค่าใช้จ่ายรวม (บาท)] บาท\n  * ราคารายเดือน : [รายเดือน (บาท)] บาท / เดือน\n  * จำนวนเทอม : [จำนวนเทอม] เทอม\n  * ค่าปรับพื้นฐาน : [ค่าปรับพื้นฐาน (ปวส. สำหรับ ม.6) (บาท)]\n\n- หากข้อมูลราคาสินค้าใดขาดหายไป (Price Missing) ให้แจ้งลูกค้าอย่างสุภาพว่า \"รายละเอียดดังกล่าวอยู่ระหว่างการอัปเดต\" แทนการแสดงตัวเลข\n- หากมีสินค้าหลายรายการ ให้แสดงรายการสินค้าแต่ละตัวอย่างชัดเจน\n\n**[ข้อมูล (Input Data/Product Catalog)]:**\n(แนบข้อมูลสินค้าที่ต้องการให้ AI ใช้ เช่น ข้อมูลจากฐานข้อมูล หรือตาราง/รายการข้อมูลที่คุณมี)\n\n**[คำถามลูกค้า (User Question)]:**\n(ใส่คำถามของลูกค้าที่ต้องการให้ AI ตอบตรงนี้)\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        176,
        16
      ],
      "id": "b32098dc-ab25-4cfb-9637-ddfd9a6d89e8",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        80,
        224
      ],
      "id": "9a3bfa50-cd6b-4e70-b8c8-e6b578abc86a",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "zjLy9KxOX6nEKn1d",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        272,
        256
      ],
      "id": "b2100e0e-9be7-40f0-a38e-9e5afc057a1b",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Bh-yYP6KcMUns-JmFv49pjtWJz6wCWk9EDNnK_B0h-o",
          "mode": "list",
          "cachedResultName": "ข้อมูลค่าเทอมปวช_ปวส",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Bh-yYP6KcMUns-JmFv49pjtWJz6wCWk9EDNnK_B0h-o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 647526398,
          "mode": "list",
          "cachedResultName": "รวม ปวช กับ ปวสด้วยเลย",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Bh-yYP6KcMUns-JmFv49pjtWJz6wCWk9EDNnK_B0h-o/edit#gid=647526398"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "detectAutomatically",
              "readRowsUntil": "firstEmptyRow"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        464,
        240
      ],
      "id": "13b5f6bf-6db9-4f29-83f6-96d83ba3a8f6",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "JY045bX8yBYgvq3v",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3e7468e5-ac9f-44ce-81fc-80ddd63d6599",
  "meta": {
    "instanceId": "b6ade719e09472c8d6802c6908b69674d15dd61fb41dff6520eca778017962fb"
  },
  "id": "56nesPrREuKYAxTb",
  "tags": []
}